#content {
    display: grid;
}

p {
    font-weight: 600;
    font-size: large;
}

.taskBar {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    justify-content: center;
    justify-items: center; 
    gap: 50px;
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-style: solid;
    border-radius: 40px;
    width: 800px;
    justify-self: center;
    margin-top: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.taskBar button {
    padding-left: 20px;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image: url(../images/tacoIcon.png);
    background-size: cover;
    border-style: none;
    font-weight: 800;
    width: 90px;
    height: 80px;
    
}

body {
    margin: 0;
    background-image: url(../images/tacoWallpaper.jpg);
}

h1 {
    margin: 0;
    padding: 10px;
}

.pageContent {
    width: 900px;
    display: grid;
    justify-self: center;
    justify-items: center;
    margin-top: 20px;
    border-radius: 20px;
    border-style: solid;
    background-image: url(../images/pageWallpaper.jpg);
    padding: 20px;
}